.container{:style=>"width: 400px"}
	%h2.text-center Log in
	= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
		= render 'layouts/error_messages', object: resource
		= f.label :email
		= f.email_field :email, autofocus: true, :class => "form-control"
		= f.label :password
		= f.password_field :password, autocomplete: "off", :class => "form-control"
		- if devise_mapping.rememberable?
			= f.check_box :remember_me
			= f.label :remember_me
		.actions
			= f.submit "Log in", :class => "btn btn-default", :style=>"width: 100%"
	= render "devise/shared/links"
