- if object.errors.any?
  #error_explanation
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %p
        %strong This form contains #{pluralize(object.errors.count, 'error')}
      %ul
        - object.errors.full_messages.each do |msg|
          %li= msg
