!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
		%title Fetcher
		= csrf_meta_tags
		= stylesheet_link_tag	'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'angular.min.js'
		= javascript_include_tag 'ng-file-upload-shim.min.js'
		= javascript_include_tag 'ng-file-upload.min.js'
		/ = javascript_include_tag 'angular-will-paginate.min.js'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'loadingoverlay.min.js'
		= javascript_include_tag 'loadingoverlay_progress.min.js'
		%script{:src => "https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"}
		%script{:src => "https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js"}
	%body
		.container-fluid{style:"margin-top: 10px"}
			- if user_signed_in?
				.row
					.col-md-12
						%a{"data-method" => "delete", :href => "/users/sign_out", :rel => "nofollow"}
							.btn.btn-default.pull-right
								Logout
			= yield