%div{"aria-multiselectable" => "true", :role => "tablist", "ng-app" => "fetcher", "style" => "margin-top:10px", "ng-app" => "fetcher"}
	%script{:type => "text/ng-template", :id=>"pagination.html"}
		%nav{"aria-label" => "Page navigation", "ng-if" => "totalPages > 1"}
			%ul.pagination
				%li
					%a{"aria-label" => "Previous", "ng-click" => "currentPage > 1 && go(currentPage-1)"}
						%span{"aria-hidden" => "true"} &laquo;
				%li{"ng-repeat"=>"page in getPages()"}
					%a{"ng-click" => "go(page)"} {{page}}
				%li
					%a{"aria-label" => "Next", "ng-click" => "currentPage < totalPages && go(currentPage+1)"}
						%span{"aria-hidden" => "true"} &raquo;
	%script{:type => "text/ng-template", :id=>"progress-bar.html"}
		.progress
			.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "{{percentage}}", :role => "progressbar", :style => "min-width: 2em; width: {{percentage}}%;"}
				{{percentage | number | number:2}}%
	.panel.panel-default{"ng-controller"=>"RequestsCtrl"}
		#headingOne.panel-heading{:role => "tab"}
			.row
				.col-md-10
					%a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
						%h4.panel-title
							API Fetch Requests
				.col-md-1
					%a.pull-right{"data-target" => "#addRequestModal", "data-toggle" => "modal","style" => "cursor: pointer;"}
						Add New
				.col-md-1
					%a.pull{"ng-click"=>"deleteAll()", "style" => "cursor: pointer;"}
						Delete All
		#collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
			.panel-body
				.row
					%pagination.text-center{"collection"=>"requests", "base-url"=>"'fetch_requests.json'", "ref-flag"=>"refreshFlag", "collapse-id" => "'collapseOne'"}
				.table-responsive{"ng-if" => "requests.length > 0"}
					%table.table.table-striped
						%thead
							%tr.row
								%th.col-md-1
									ID
								%th.col-md-1
									Site
								%th.col-md-10
									ISBNs
						%tbody
							%tr.row(ng-repeat="req in requests")
								%td.col-md-1
									{{req.id}}
								%td.col-md-1
									{{req.site}}
								%td.col-md-10
									%a{:href => "/fetch_requests/download_source/{{req.id}}", :target => "_self"}
										%button.btn.btn-success Download
		#addRequestModal.modal.fade{"aria-labelledby" => "addRequestModalLabel", :role => "dialog", :tabindex => "-1"}
			.modal-dialog{:role => "document"}
				.modal-content
					.modal-header
						%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
							%span{"aria-hidden" => "true"} &times;
						%h4#addRequestModalLabel.modal-title New Fetch Request
					.modal-body{"ng-form"=>"AddRequestForm"}
						.alert.alert-danger.alert-dismissable{"ng-if"=>"errors && errors.length > 0"}
							%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
							%ol
								%li{"ng-repeat"=>"error in errors"}
									{{error}}
						.row
							.col-md-1
								ISBNs
							.col-md-11
								%a{:name => "file", "ng-model" => "file", "ngf-max-size" => "20MB", "ngf-select" => "", :style => "cursor: pointer;"}
									Select
								{{file.name}}
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", :type => "button", "ng-click" => "clearForm()"} Close
						%button.btn.btn-primary{:type => "button", "ng-disabled" => "AddRequestForm.$invalid", "ng-click" => "submitForm()"} Save changes
	%div{"ng-controller"=>"RunningJobsCtrl"}
		.panel.panel-default.running-jobs-panel{"ng-show" => "jobs.length > 0"}
			#headingTwo.panel-heading{:role => "tab"}
				%a{"aria-controls" => "collapseTwo", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
					.row
						.col-md-11
							%h4.panel-title
								Running Jobs
			#collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
				.panel-body
					.row
						%pagination.text-center{"collection"=>"jobs", "base-url"=>"'jobs.json'", "ref-flag"=>"refreshFlag", "collapse-id" => "'collapseTwo'"}
					.table-responsive{"ng-if" => "jobs.length > 0"}
						%table.table.table-striped
							%thead
								%tr
									%th.col-md-1
										Request ID
									%th.col-md-1
										Site
									%th.col-md-10
										Progress
							%tbody
								%tr(ng-repeat="pair in jobs")
									%td.col-md-1
										{{pair.request.id}}
									%td.col-md-1
										{{pair.request.site}}
									%td.col-md-10
										%progress-bar{"job-id" => "pair.job.id"}

	.panel.panel-default{"ng-controller"=>"CompletedJobsCtrl"}
		#headingTwo.panel-heading{:role => "tab"}
			%a{"aria-controls" => "collapseThree", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
				.row
					.col-md-11
						%h4.panel-title
							Completed Jobs
					.col-md-1
						%a.text-center{"ng-click"=>"deleteAll()", "style" => "cursor: pointer;"}
							Delete All
		#collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
			.panel-body
				.row
					%pagination.text-center{"collection"=>"jobs", "base-url"=>"'completed_jobs.json'", "ref-flag"=>"refreshFlag", "collapse-id" => "'collapseThree'"}
				.table-responsive{"ng-if" => "jobs.length > 0", :style => "overflow:hidden"}
					.row
						.col-md-1
							%b Request ID
						.col-md-1
							%b Site
						.col-md-2
							%b Start Time
						.col-md-2
							%b End Time
						.col-md-6
							%b Failed ISBNs
					.row(ng-repeat="pair in jobs")
						.col-md-1
							{{pair.request.id}}
						.col-md-1
							{{pair.request.site}}
						.col-md-2
							{{getFormattedDateTime(pair.job.start_time)}}
						.col-md-2
							{{getFormattedDateTime(pair.job.end_time)}}
						.col-md-6
							%a{:href => "/completed_jobs/download_error_isbns/{{pair.job.id}}", :target => "_self"}
								%button.btn.btn-success Download

	.panel.panel-default{"ng-controller"=>"BooksCtrl"}
		#headingTwo.panel-heading{:role => "tab"}
			%a{"aria-controls" => "collapseFour", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour", :role => "button"}
				.row
					.col-md-11
						%h4.panel-title
							Books
		#collapseFour.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
			.panel-body
				.form-inline{"ng-form"=>"BookSearchForm"}
					%input.form-control{:placeholder => "ISBN", :type => "text", "ng-model"=>"isbn", :required => true}
					%button.btn.btn-primary{:type => "submit", "ng-click"=>"findBook(isbn)", "ng-disabled"=>"BookSearchForm.$invalid"} Search
					%a{:href => "/books/download_all", :target => "_self"}
						%button.btn.btn-success Download All
					%button.btn.btn-danger{"ng-click"=>"deleteAll()"}
						Delete All
				.table-responsive{"ng-if" => "books.length > 0"}
					%table.table.table-striped
						%thead
							%tr.row
								%th.col-md-1
									Request ID
								%th.col-md-1
									Site
								%th.col-md-1
									Author
								%th.col-md-1
									Binding
								%th.col-md-1
									Ean
								%th.col-md-1
									Image
								%th.col-md-1
									Isbn
								%th.col-md-1
									Language
								%th.col-md-1
									Link
								%th.col-md-1
									Number of Pages
								%th.col-md-1
									Price
								%th.col-md-1
									Publisher
								%th.col-md-1
									Year
								%th.col-md-1
									Title
						%tbody
							%tr.row{"ng-repeat" => "book in books"}
								%td.col-md-1
									{{book.request_id}}
								%td.col-md-1
									{{book.site}}
								%td.col-md-1
									{{book.author}}
								%td.col-md-1
									{{book.binding}}
								%td.col-md-1
									{{book.ean}}
								%td.col-md-1
									%a{:href=>"{{book.image}}", :target => "_blank"}
										{{book.image}}
								%td.col-md-1
									{{book.isbn}}
								%td.col-md-1
									{{book.language}}
								%td.col-md-1
									%a{:href=>"{{book.link}}", :target => "_blank"}
										{{book.link}}
								%td.col-md-1
									{{book.num_pages}}
								%td.col-md-1
									{{book.price}}
								%td.col-md-1
									{{book.publisher}}
								%td.col-md-1
									{{book.year}}
								%td.col-md-1
									{{book.title}}
