.container{:style=>"width: 400px"}
	%h2.text-center Sign up
	= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
		= render 'layouts/error_messages', object: resource
		.field
			= f.label :email
			%br/
			= f.email_field :email, autofocus: true, :class => "form-control"
		.field
			= f.label :password
			- if @minimum_password_length
				%em
					(#{@minimum_password_length} characters minimum)
			%br/
			= f.password_field :password, autocomplete: "off", :class => "form-control"
		.field
			= f.label :password_confirmation
			%br/
			= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"
		.actions{:style => "margin-top:20px"}
			= f.submit "Sign up", :class => "btn btn-default", :style=>"width: 100%"
	= render "devise/shared/links"
