= form_for @fetch_request do |f|
  - if @fetch_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fetch_request.errors.count, "error")} prohibited this fetch_request from being saved:"
      %ul
        - @fetch_request.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :site
    = f.text_field :site
  .field
    = f.label :ids
    = f.text_field :ids
  .field
    = f.label :requestor
    = f.number_field :requestor
  .actions
    = f.submit 'Save'
