%h1 Listing fetch_requests

%table
  %thead
    %tr
      %th Site
      %th Ids
      %th Requestor
      %th
      %th
      %th

  %tbody
    - @fetch_requests.each do |fetch_request|
      %tr
        %td= fetch_request.site
        %td= fetch_request.ids
        %td= fetch_request.requestor
        %td= link_to 'Show', fetch_request
        %td= link_to 'Edit', edit_fetch_request_path(fetch_request)
        %td= link_to 'Destroy', fetch_request, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Fetch request', new_fetch_request_path
