%p#notice= notice

%p
  %b Site:
  = @fetch_request.site
%p
  %b Ids:
  = @fetch_request.ids
%p
  %b Requestor:
  = @fetch_request.requestor

= link_to 'Edit', edit_fetch_request_path(@fetch_request)
\|
= link_to 'Back', fetch_requests_path
